<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miaxis.judicialcorrection.report">

    <application>
        <activity android:name=".ReportActivity" />
        <activity android:name="com.miaxis.judicialcorrection.centralized.CentralizedEducationActivity" />
        <activity android:name="com.miaxis.judicialcorrection.individual.IndividualEducationActivity" />
    </application>

</manifest>